body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}
h1, p, h2, h3, h4, blockquote {
  margin: 0px;
}
ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
img {
  max-width: 100%;
  display: block;
  
}
a {
  text-decoration: none;
}
img[src$=".jpg"] {
border-radius: 4px;
}