.seguro-bg{
    background-color: var(--cor11);
    box-shadow:  inset 0 120px var(--cor0), inset 0 -120px var(--cor12);
}
.seguro{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}
.seguro-imagem{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.seguro-conteudo{
    padding-top: 180px;
    padding-bottom: 180px;
}
.seguro h2{
    margin-bottom: 32px;
}
.seguro p{
    margin-bottom: 20px;
}
@media (max-width:800px){
    .seguro{
        grid-template-columns: 1fr;
    }
.seguro-conteudo{
    grid-row: 1;
    padding-bottom: 40px;
    padding-top: 0px;
}
.seguro-bg{
    box-shadow: inset 0 -60px var(--cor12);
}

}